.hire {
  font-family: $font-flair;
  font-size: 1.3em;
  color: #fff;
  padding-top: 0.4em;
  text-align: center;
  width: 365px;
  height: 35px;
  display: block;
  background-image: image-url('arrow.svg');
}

.hire a {
  text-decoration: none;
  color: #fff;
}
