@import "compass/typography/vertical_rhythm";

$base-font-size: 18px;
$base-line-height: 32px;
$default-rhythm-border-style: solid;
$relative-font-sizing: true;
$round-to-nearest-half-line: false;
$min-line-padding: 2px;

@include establish-baseline;

body {
    font-family: $font-body;
    color: $font-colour;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-title;
}

h1, .h1 {
    margin: 0 auto rhythm(1, 42px);
}

h2, .h2 {
    margin: 0 auto rhythm(1, 38px);
}

h3, .h3 {
    margin: 0 auto rhythm(1, 24px);
}

h4, .h4 {
    margin: 0 auto rhythm(1, 18px);
}

h5, .h5 {
    margin: 0 auto rhythm(1, 16px);
}

h6, .h6 {
    margin: 0 auto rhythm(1, 12px);
}

// Interactive styles
a:link {
  color: $emphasis-primary-colour;
}

a:hover,
abbr:hover {
  color: $emphasis-secondary-colour;
}

a:visited {
  color: darken($emphasis-primary-colour, 30%)
}

a:focus,
a:active {
  color: darken($emphasis-secondary-colour, 10%);
}

// helper classes
.muted {
  color: $font-muted-colour;
}

.muted {
  a, a:visited {
    color: $font-muted-colour;
  }

  a:hover,
  a:focus,
  a:active {
    color: darken($font-muted-colour, 20%);
  }
}

a.more:after {
  content: $right-arrow;
}

.copyright:before {
  content: $copyright;
}

abbr:hover {
  cursor: help;
}

#logo {
  color: $black;
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  padding: 0 1em;
}

