@import "normalize";

// Base imports
@import "_variables";
@import "_typography";
@import "_layout";
@import "_icons";
@import "_social";
@import "_hero";

// Helpers
@import "_helpers";

.hero em,
.services em {
  font-style: normal;
  color: $emphasis-primary-colour;
}

#services.units .unit {
  width: 33.33%;
}
