#bottom {
  @extend .cf;
  padding: 3em 0 2em 0;
  border-top: 1px solid $border-colour;
}

#bottom .copyright {
  font-size: 0.9em;
  float:left;
  width: 21em;
}

#bottom .social-icons {
  float: right;
  margin: 0 0 0.8em;
}

#bottom .social-icons li {
  margin: 0;
  padding: 0;
}

#bottom .social-icons .icon {
  margin-right: 1em;
}
