.hire {
  font-family: $font-flair;
  font-size: 1.3em;
  color: #fff !important;
  padding-top: 0.4em;
  text-align: center;
  width: 365px;
  height: 37px;
  display: block;
  background-image: image-url('arrow.svg');
  text-decoration: none;
}

.hire a {
  color: #fff;
}

.icon {
  display: block;
  width: 36px;
  height: 36px;
}

.icon.stackoverflow {
  background-image: inline-image('so.svg');
}

.icon.twitter {
  background-image: inline-image('twitter.svg');
}

.icon.github {
  background-image: inline-image('git.svg');
}
