<ul class="social-icons">
  <li title="See my answers on Stackoverflow">
    <a target="_blank" href="http://stackoverflow.com/users/1041885/pete-mitchell">
      <i class="icon stackoverflow"></i>
    </a>
  </li>
  <li title="Take a look at my Github projects">
    <a target="_blank" href="https://github.com/peterjmit">
      <i class="icon github"></i>
    </a>
  </li>
  <li title="Follow me on Twitter">
    <a target="_blank" href="https://twitter.com/peterjmit">
      <i class="icon twitter"></i>
    </a>
  </li>
</ul>
