#bottom {
  padding: 3em 0;
}

#bottom .copyright {
  float:left;
  width: 21em;
}

#bottom .social-icons {
  float: right;
  margin: 0.8em 0;
}

#bottom .social-icons li {
  // width: 10em;
  margin: 0;
  padding: 0;
}

#bottom .social-icons .icon {
  margin-right: 1em;
}