.hero {
  padding: 4em 0;
}

.hero {
  text-align: center;
  background-color: $background-colour;
}

.hero h1 {
  font-size: 3.5em;
  max-width: 12em;
  line-height: 1.2em;
}

.hero p {
  margin: 0 auto;
  font-size: 1.2em;
  max-width: 40em;
}

.hero .hire {
  margin: 0 auto;
  margin-bottom: -4.05em;
}

.hero .social {
  width: 23em;
  padding: 1.5em 0 3em 0;
  margin: 0 auto;
  p {
    margin-bottom: 0.5em;
    text-transform:uppercase;
    font-size: 0.9em;
  }
}

