.hero {
  text-align: center;
  background-color: $background-colour;
}

.hero h1 {
  font-size: 3.5em;
}

.hero p {
  font-size: 1.2em;
}

.hero .hire {
  margin: 0 auto;
  margin-bottom: -5.6em;
}

.hero .social {
  width: 23em;
  padding: 1.5em 0 3em 0;
  margin: 0 auto;
  text-transform:uppercase;
}
