.social-icons {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.social-icons li {
  margin: 0 1.3em;
  // padding-left: 35px;
  display: inline-block;
  background-image: image-url('icons-big.svg');
  background-position: 0 0;
  width: 35px;
  height: 34.5px;
}

.social-icons .github {}

.social-icons .stackoverflow {
    background-position:34.5px 0;
}

.social-icons .twitter {
    background-position:69.5px 0;
}