@import "normalize";

// Base imports
@import "_variables";
@import "_typography";
@import "_layout";
@import "_icons";
@import "_social";
@import "_hero";
@import "_header";
@import "_footer";

// Helpers
@import "_helpers";

.hero em,
.services em {
  font-style: normal;
  color: $emphasis-primary-colour;
}

@media screen and (min-width: 45.0625em) {
  #main .content .unit {
    width: 50%;
  }
}

@media screen and (min-width: 60.0625em) {
  #main .content .unit {
    width: 33.33333%;
    margin-bottom: 0;
  }
}
